<div class="container">
  <h1>Instalink</h1>

  <% @posts.each do |post| %>
    <div class="post-card">
      <div class="post-header">
        <h4><%= post.user.first_name %></h4>
        
        <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post), class: 'edit-link' %>
        <% end %>
      </div>

      <% if post.images.attached? %>
        <div class="post-images">
          <% post.images.each do |image| %>
            <%= image_tag image, size: "300x300", class: "post-image" %>
          <% end %>
        </div>
      <% else %>
        <p>No images attached.</p>
      <% end %>

      <p><%= post.content %></p>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class: 'new-post-button' %>

<div class="user-icon">
  <%= link_to image_tag('user_icon.png', alt: 'User Icon', class: 'icon'), profile_path(current_user) %>
</div>

